
.icon-googleplus:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-diamond:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-left-big:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-award:before { content: '\e80d'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-slideshare:before { content: '\f1e7'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */